{
    "extends": "standard",
    "rules": {
        "semi":["error", "always"],
        "no-debugger":"off",
        "array-bracket-spacing":"error",
        "object-curly-spacing":"error"
    },
    "env": {
        "browser": true,
        "node": true
    }
}